// Variables.scss
$color-primary: #FF7F5C;
$color-secondary: #0087FF;
$color-text: #03050F;
$color-background-light: #F7F8F9;
$color-dark-blue: #0A1B32; // Asegúrate de que esta variable esté si la usas directamente

// Grid System (breakpoints)
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;