// src/styles/base/_base.scss

// src/styles/base/_base.scss

@use '../abstracts/variables' as var;
@use 'sass:color';

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    /*height: auto;*/
    display: block; // Evita espacio extra debajo de las imágenes
}


// src/styles/base/_base.scss o _fonts.scss

@font-face {
  font-family: 'BR Sonoma';
  src: url('/src/assets/fonts/BRSonoma-SemiBold.woff2') format('woff2'),
       url('/src/assets/fonts/BRSonoma-SemiBold.woff') format('woff');
  font-weight: 600; // Corresponde a SemiBold
  font-style: normal;
  font-display: swap; // Buena práctica para cargar la fuente
}


// Estilos específicos para la tipografía de la imagen
.title {
    font-size: 2.2rem; // Ajustar según el diseño
    font-weight: 700;
    line-height: 1.2;
    color: var.$color-text; // O un color más oscuro si lo tienes
    
    @media (min-width: var.$breakpoint-desktop) {
        font-size: 2.8rem; // Tamaño para escritorio
    }
}

.subtitle {
    font-size: 1rem;
    line-height: 1.5;
    color: var.$color-text;
    margin-top: 1rem;
}

.tag {
    display: inline-block;
    background: linear-gradient(86.01deg, #00F4E2 0%, #00FF7F 100%); // Color secundario para el tag
    color: #000;
    padding: 0.25rem 0.75rem;
    border-radius: 4px;
    font-size: 0.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

// Botón principal
.btn-primary {
    background-color: var.$color-primary;
    color: #fff;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 1.5rem;

    &:hover {
        // Asegúrate de usar 'color.' si importaste el módulo Sass
        background-color: color.adjust(var.$color-primary, $lightness: -10%);
    }
}

/* Estilos para el componente Base (Paso 3) */